a[class*="btn"], .btn {
    display: inline-block;
    text-decoration: none;
    background-color: #ecf0f1;
    color: #7f8c8d;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

a[class*="btn"]:hover, .btn:hover {
    transition: all .5s ease;
}

.btn-red {
    background-color: #e74c3c !important;
    color: #fff !important;
}

.btn-red:hover {
    background-color: #c0392b !important;
}

.btn-blue {
    background-color: #3498db !important;
    color: #fff !important;
}

.btn-blue:hover {
    background-color: #2980b9 !important;
}

.btn-green {
    background-color: #1abc9c !important;
    color: #fff !important;
}

.btn-green:hover {
    background-color: #16a085 !important;
}
