@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body {
    padding: 10px;
    background-color: #ccc;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.box {
    background: #fff;
    margin: 20px 60px 90px 120px;
    padding: 20px 60px 90px 120px;
    border: 3px solid #000;
    border-radius: 10px;
    position: relative;
}

#display * {
    display: inline;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}
